/*STYLE SHEET FOR ENTIRE WEBSITE*/


/*--------Declaring style variables--------*/
:root{
	--white: #ffffff;
	--light-gray: #efefef;
	--medium-gray: #474747;
	--dark-gray: #171717;
	--darkmode-gray: #1c1c1c;
	--off-white: #fffdfa;
	--blue: #05a5c1;
	--dark-blue: #00739c;
	--orange: #fd7423;
	--dark-orange: #e66215;
	--light shadow:;
}

/*--------Setting new default values for all elements--------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	text-decoration: none;
	color: var(--dark-gray);
}

body{
	background-color: var(--off-white);
}

/* --------COMMON ELEMENTS--------*/

/*Header for all pages*/

header{
	text-align: center;
	max-width: 100%;
}
nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 15px 36px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}

nav .artistly-logo img{
	width: 150px;
}

nav .nav-ctn .nav-links{
	margin-left: 72px;
	font-weight: 600;
}

nav .nav-ctn .nav-links:hover{
	color: var(--blue);
}

nav .nav-ctn .nav-links.active{
	color: var(--blue);
}

header .artistly-banner{
	width: 80%;
	max-width: 1920px;
}

/*Main Section for all pages*/
main{
	width: 70%;
	margin: 0 auto;
	padding: 100px 0;
}

main h1{
	text-align: center;
}
/* Section*/

section{
	padding-top: 60px;
}


/*Footer for all pages*/
footer{
	max-width: 100%;
	padding: 50px 150px;
	background-color: var(--medium-gray);
	display: flex;
}

footer>p{
	color: var(--white);
	font-size: 24px;
	font-weight: 700;
}

footer div{
	margin-left: 100px;
}

footer div p:first-child{
	margin-bottom: 5px;
}

footer div p{
	color: var(--off-white);
	font-weight: 300;
	font-size: 14px;
	line-height: 30px;
}

footer div p i{
	color: var(--off-white);
	margin-right: 5px;
}

button{
	border: none;
}

/*Common elements*/
.regsize-btn{
	padding: 10px 30px;
}

.link-btn{
	background-color: var(--blue);
	color: #ffffff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.link-btn:hover{
	background-color: var(--dark-blue);
	font-weight: 600;
}

.action-btn{
	background-color: var(--orange);
	color: #ffffff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.action-btn:hover{
	background-color: var(--dark-orange);
	font-weight: 600;
}

/* --------SPECIFIC ELEMENTS--------*/

/*Home Page*/

#home-main{
	text-align: center;
}

#home-main .description{
	margin-top: 20px;
}

#quiz_links-section #quiz_links-ctn{
	display: grid;
	grid-template-columns: auto auto auto auto;
	margin-top: 40px;
}

#quiz_links-section #quiz_links-ctn .quiz-links{
	padding: 40px 40px;
	margin: 30px 20px;
	background-color: var(--blue);
	color: #ffffff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}



/*Learn page*/

#learn-main dl{
	margin-top: 60px;
}

#learn-main dl dt{
	margin-top: 20px;
	font-weight: 600;
}

#learn-main a{
	position: relative;
	display: inline-block;
	margin-top: 40px;
	left: 50%;
	transform: translateX(-50%);
}



/*Explore page*/

#explore-main #modal-overlay{
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	z-index: 99;
}

#explore-main #modal-cnt{
	display: none;
	width: 1000px;
	height: 600px;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
}

#explore-main #modal-cnt #modal-img{
	height: 100%;
	max-width: 100%;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

#explore-main #modal-cnt #modal_close-btn{
	position: fixed;
	right: 5px;
	top: 0px;
	padding: 8px;
	background-color: transparent;
}

#explore-main #modal-cnt #modal_close-btn:hover{
	cursor: pointer;
}

#explore-main #modal-cnt #modal_close-btn i{
	font-weight: 700;
	color: var(--white);
}

#explore-main .gallery-section{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#explore-main .gallery-section .gallery-column{
	display: flex;
	flex-direction: column;
	width: 32.5%;
}

#explore-main .gallery-section .gallery-column img{
	width: 100%;
	margin-bottom: 10px;
	transition: transform 0.1s linear;
}

#explore-main .gallery-section .gallery-column img:hover{
	cursor: pointer;
	transform: scale(1.01);
}

#explore-main a{
	position: relative;
	display: inline-block;
	margin-top: 40px;
	left: 50%;
	transform: translateX(-50%);
}




/*Contact Us page*/

#contact_us-main .contact_us-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 45%;
	margin: 40px auto;
}

#contact_us-main .contact_us-form label{
	margin-bottom: 5px;
}

#contact_us-main .contact_us-form .contact_us-items{
	margin-bottom: 20px;
	padding: 7px;
}

#contact_us-main .contact_us-form textarea{
	height: 200px;
	resize: none;
}

#contact_us-main .contact_us-form button{
	width: 25%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border: none;
}

/*Quizzes*/

.quiz-section{
	display: none;
}

.quiz-section:first-child{
	display: inline-block;
}

.quiz-section label, .next-btn{
	display: block;
}

.quiz-section .quiz-question, label{
	margin-bottom: 30px;
}

.quiz-section img{
	max-width: 70%;
	max-height: 600px;
}


.quiz-section button{
	margin-top: 40px;
}

#results-cnt{
	width: 100%;
	text-align: center;
}

#results-cnt #perfect-results{
	width: 300px;
	display: none;
}

#results-cnt a{
	display: inline-block;
}

#results-cnt #end-links{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 30px 0px;
}

/* SMARTPHONE VIEW */

@media only screen and (max-width:450px){
header nav{
	display: flex;
	flex-direction: column;
}

header .artistly-banner{
	display: none;
}

main{
	width: 80%;
	margin: 0 auto;
	padding: 70px 0;
}

footer{
	display: flex;
	flex-direction: column;
	padding: 50px;
}

footer>p{
	margin-bottom: 5px;
}

footer div{
	margin-left: 0px;
}

#home-main .description{
	margin-top: 40px;
}

#quiz_links-section #quiz_links-ctn{
	display: grid;
	grid-template-columns: auto;
	margin-top: 40px;
}

#learn-main dl dt{
	margin-top: 40px;
	margin-bottom: 10px;
}

#learn-main a{
	margin-top: 70px;
}

#explore-main #modal-cnt{
	display: none;
	width: 90%;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
}

#explore-main #modal-cnt #modal-img{
	width: 100%;
	height: auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

#explore-main .gallery-section{
	display: flex;
	flex-direction: column;
}

#explore-main .gallery-section .gallery-column{
	display: flex;
	flex-direction: column;
	width: 100%;
}

#contact_us-main .contact_us-form{
	width: 100%;
}

#contact_us-main .contact_us-form button{
	width: 50%;
}

.quiz-section img{
	max-width: 100%;
	max-height: 600px;
}

#results-cnt #perfect-results{
	width: 250px;
}

#results-cnt a{
	display: block;
}

#results-cnt a:first-child{
	margin-bottom: 20px;
}
}

/* TABLET VIEW */

@media only screen and (min-width:451px) and (max-width:769px){

footer{
	display: flex;
	flex-direction: column;
	padding: 50px;
}

footer>p{
	margin-bottom: 5px;
}

footer div{
	margin-left: 0px;
}

#quiz_links-section #quiz_links-ctn{
	display: grid;
	grid-template-columns: auto auto;
	margin-top: 40px;
}

#learn-main dl dt{
	margin-top: 40px;
	margin-bottom: 10px;
}

#learn-main a{
	margin-top: 70px;
}

#explore-main #modal-cnt{
	display: none;
	width: 80%;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
}

#explore-main #modal-cnt #modal-img{
	width: 100%;
	height: auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

#explore-main .gallery-section{
	display: flex;
	flex-direction: column;
}

#explore-main .gallery-section .gallery-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
}

#contact_us-main .contact_us-form{
	width: 100%;
}

#contact_us-main .contact_us-form button{
	width: 50%;
}

.quiz-section img{
	max-width: 100%;
	max-height: 600px;
}

}